
<body><center>

            <!-- Taula amb 3 files: una pel menu
                                    una que conté una taula generada dinàmicament on surten els ítems
                                    una amb els links del final de la pàgina
            -->
            <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">

                <!-- Fila menu -->
                <tr>
                    <td bgcolor="#ff6600">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
                            <tr>
                                <td style="width:18px;padding-right:4px">
                                    <%= image_tag("LogoFiberNews.png", width: '18px', height: '18px', :style => "border:1px solid white") %>
                                </td>

                                <td style="line-height:12pt; height:10px;">
                                   <span class="pagetop">
                                       <b class="hnname">
                                              <a href=<%=submissions_path%>> Submit </a>
                                       </b>


                                   </span>
                                </td>
                                
                                <td style="text-align:right;padding-right:4px;">
                                   <span class="pagetop">
                                       <!-- <a href="login?goto=news">login</a> -->
                                       <% if User.find_by(id: session[:user_id]).nil? then%>
                                       <%= link_to "Log In with Google", '/auth/google_oauth2', method: :post %>
                                       <%else%>
                                       <%= link_to User.find_by(id: session[:user_id]).name, edit_user_path(User.find_by(id: session[:user_id])) %>
                                       <%= link_to ' | Logout' , '/sessions/logout' %>
                                       <%end%>
                                   </span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                
                <!-- form -->
                <tr>
                  <td>
                    <%= form_with(model: submission) do |form| %>
                      <% if submission.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>
                    
                          <ul>
                            <% submission.errors.each do |error| %>
                              <li><%= error.full_message %></li>
                            <% end %>
                          </ul>
                        </div>
                      <% end %>
                      
                      
                <% if !alert.nil? %>
		              <div >
                    <p style="color:grey" id="alert"><%= alert %></p>
                  </div>
                 <%end%>    
                      
                <table border="0"><tbody>
              
                  <tr>
                    <tr style="height:10px">  </tr>
                      <tr> 
                         <td> <%= form.label "title" %> </td> 
                         <td><%= form.text_field :title, size: 40 %></td> 
                      </tr>
                       
                      <% if submission.id.nil? %>     <!-- Si estem editant un comentari que te url o estem creant un de nou, mostrem per editar la url -->
                        <td><%= form.label "url" %></td>
                        <td><%= form.text_field :url, size: 40%></td> 
                      <% elsif (submission.title != "" and submission.url !="")%>
                        <tr></tr>
                        <td><%= form.label "url" %> <%=submission.url%></td>
                      <%else%>
                       <td><%= form.label "url" %></td>
                      <%end%>

                    </tr>
                    
                    <% if submission.id.nil? or (submission.title!="" and submission.url=="") %>    <!-- Si estem editant un comentari que te text o estem creant un de nou, mostrem per editar el text-->
                      <tr>                     
                        <td></td>
                          <td> <b>or</b></td> 
                      </tr>
                        <tr>   
                            <td><%= form.label "text" %></td>
                              <td ><%= form.text_area :text, size: "39x3" %> </td>
                        </tr>
                      <%end%>
                      
                      <td></td>
                      <%= form.hidden_field :user_id, value: session[:user_id] %>
                      <tr>
                        <td></td>
                        <td>
                          <%= form.submit "Submit"%>
                        </td>
                      </tr>
                  </tr>  
                 </tbody></table>
                      <tr>
                        <tr style="height:20px"></tr>   
                        <% if submission.id.nil?%>
                          <td>
                            <label>Leave url blank to submit a question for discussion. If there is no url, the text (if any) will appear at the top of the thread. </label>
                          </td>
                        <%end%>
                      </tr>
                    <% end %>

                  </td>
                </tr>
                
        </table>
</center></body>

