<%= form_with(model: submission) do |form| %>
  <% if submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
        <% submission.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if !alert.nil? %>
		    <div >
        <p style="color:grey" id="alert"><%= alert %></p>
        </div>
  <%end%>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div> or </div>
  
    <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
