    <body><center>

            <!-- Taula amb 3 files: una pel menu
                                    una que conté una taula generada dinàmicament on surten els ítems
                                    una amb els links del final de la pàgina
            -->
            <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">

                <!-- Fila menu -->
                <tr>
                    <td bgcolor="#ff6600">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
                            <tr>
                                <td style="width:18px;padding-right:4px">
                                    <%= image_tag("LogoFiberNews.png", width: '18px', height: '18px', :style => "border:1px solid white") %>
                                </td>

                                <td style="line-height:12pt; height:10px;">
                                   <span class="pagetop">
                                       <b class="hnname">
                                              <a href=<%=submissions_path%>> Fiber News</a>
                                       </b>

                                          <a href=<%=newest_submissions_path%>> new</a>
                                        | <a href="front">past</a> 
                                        | <a href="newcomments">comments</a> 
                                        | <a href=<%=ask_submissions_path%>>ask</a> 
                                        | <a href="jobs">jobs</a> 
                                        |  <%= link_to 'submit', new_submission_path %>


                                   </span>
                                </td>
                                
                                <td style="text-align:right;padding-right:4px;">
                                   <span class="pagetop">
                                       <a href="login?goto=news">login</a>
                                   </span>
                                </td>

                            </tr>
                        </table>
                    </td>
                </tr>


                <!-- Padding -->
                <tr id="pagespace" title="" style="height:10px"></tr>
                

                <!-- Fila amb la llista d'ítems -->
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
                             <% @submissions.each_with_index do |submission, index| %>
                    

                            <!-- Inici esquelet ítem (exemple) -->
                            
                            <tr class='athing'>
                                <td align="right" valign="top" class="title">
                                    <span class="rank"><%=index+1%>. </span>
                                </td>

                                <td valign="top" class="votelinks"><center>

                                  <%= link_to 'Vote', vote_submission_path(submission.id), method: :put %>

                                        <div class='votearrow' title='upvote'></div>
                    
                                </center></td>

                                <td class="title">
                                        <a href= <%= submission_path(submission.id) %> class="titlelink"><%= submission.title%></a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td class="subtext">
                                    <span class="score"><%= submission.votes%> votes</span> 
                                    by <a href="" class="hnuser">SoyHardcoded</a> 
                                    <span class="age">
                                        <a href=""><%=time_ago_in_words(submission.created_at)%> ago</a>
                                    </span> 
                                    <span id=""></span> 
                                    | <a href="">hide</a> 
                                    | <a href=""> x comments</a>              
                                </td>
                            </tr>
                            <tr class="spacer" style="height:5px"></tr>
                            <%index = index+1%>
                            <!-- Fi esquelet ítem (exemple) -->
                            <%end%>
    
                            <!-- Botó de More -->
                            <tr class="morespace" style="height:10px"></tr>
                            <tr>
                                <td colspan="2"></td>
                                <td class='title'>
                                    <a href='news?p=2' class='morelink' rel='next'>More</a>
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>



                <tr>
                    <td>
                        <img src="s.gif" height="10" width="0">
                        <table width="100%" cellspacing="0" cellpadding="1">
                            <tr><td bgcolor="#ff6600"></td></tr>
                        </table>
                        <br>
                        <center><a href="https://www.ycombinator.com/apply/">Projecte ASW - FIB</a></center>
                        <br>
                        <center><span class="yclinks"><a href="newsguidelines.html">Guidelines</a>
                            | <a href="newsfaq.html">FAQ</a>
                            | <a href="lists">Lists</a>
                            | <a href="https://github.com/HackerNews/API">API</a>
                            | <a href="security.html">Security</a>
                            | <a href="http://www.ycombinator.com/legal/">Legal</a>
                            | <a href="http://www.ycombinator.com/apply/">Apply to Fiber News</a>
                            | <a href="mailto:hn@ycombinator.com">Contact</a></span><br><br><form method="get" action="//hn.algolia.com/">Search:
                            <input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false"></form>
                        </center>
                    </td>
                </tr>
            </table>
    
    </center></body>
